<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel='stylesheet' href='/css/style.css?v={{pkg.version}}' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="/js/min/{{pkg.name}}.js?v={{pkg.version}}"></script>
</html>
